
.body {
    margin: auto;
    height: 100vh;
    width: 100vw;
}

.products-container {
    height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: repeat(2, 30rem);
    gap: .5rem;
    justify-content: center;
}
a {
    text-decoration: none;
    color: black;
    
}
a::after:visited {
    color: black;
}
.product-item {
    line-height: 1;
    box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.05);
    height: 20rem;
    text-align: center;
}
.product-item:hover {
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.403);
}
.product-image {
    height: 45%;
    margin: auto;
    box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.05);
}
.product-title {
    font-size: 65%;
}
.product-price {
    font-size: 45%;
}
.product-description {
    font-size: .45rem;
}